@import "variables";

h2 {
  position: relative;
  padding: 0.25em 0;
}

h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(90, 230, 90), transparent);
  background: linear-gradient(to right, rgb(90, 230, 90), transparent);
}

h3 {
    padding-bottom: 4px;
    border-bottom: solid 1px #666;
}

h4 {
    padding-left: 8px;
    border-left: solid 4px #666;
}

hr {
    width: 100px;
}
