<meta name="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
<meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta name="og:image" content="{{ .Site.BaseURL }}logo.png" />
<meta name="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:site" content="@{{ .Site.Social.Twitter }}" />
<meta name="twitter:creator" content="@nya_dq10" />

